.candidateList {
  width: 100%;
  max-width: 360px;
  max-height: 300px;
  position: absolute;
  overflow: auto;
  border-radius: 5;
  text-transform: capitalize;
}

.candidateList span {
  width: 40%;
}

.imgWrapper {
  height: 50px;
  width: 40px;
  overflow: hidden;
  font-size: 12px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}

.imgWrapper img {
  object-fit: scale-down;
}
